.content{width: 1200px;height:100%;overflow: hidden;margin: 0 auto;}
.content .container{padding: 0px;width: 1200px;}
.content .container .left{height:100%;overflow:hidden;width: 252px; padding: 0px;float: left;}
.content .container .left h1{font-family: "微软雅黑";font-size: 24px;color: #6acde6;margin-top:77px;}
.content .container .left ul{list-style: none;}
.content .container .left ul li{margin-top: 20px;}
.content .container .left ul li a{font-size: 20px; color: black;text-decoration: none;}
.content .container .left ul li img{padding-left:70px ;}
.content .container .left ul li dl{font-family: "微软雅黑";margin-left: 50px;}
.content .container .left ul li dl dd{margin-top: 5px;}
.content .container .left ul li dl dd a{font-size: 16px;color: #747474;}
.content .container .left ul li dl dd .on{color: #8de0f5;}
.content .container .left ul li dl dd a:hover{color: #8de0f5;}