

.content .container .right{width: 948px;height: 100%;overflow: hidden;}
.content .container .right .top{height: 47px;width: 948px;border-bottom: 2px solid #00FFFF;}
.content .container .right .top h1{font-size:24px ;margin-top: 43px;color: #77d1e8;}
.content .container .right .tu{float: left; width: 416px;height:236px;margin-top: 40px;}
.content .container .right .tu .left1{width: 400px;float:left;height: 236px;}
.content .container .right .tu .left1 a img{margin: 90px 0px 0px 35px;float: left;display: block;}
.content .container .right .tu .left1{width: 400px;height:236px;}
.content .container .right .tu .left1 p:nth-child(2){padding-top: 40px;}
.content .container .right .tu .left1 p{line-height: 18px;font-family: "微软雅黑";font-size: 16px;display: inline-block;padding-left: 53px;}
.content .container .right .tu .left1 button{margin: 60px 0px 0px 75px;padding: 4px 10px;border:none;background: #00FFFF;font-family: "微软雅黑";font-size: 16px;}
.content .container .right .tu .right1{float: left;}
.content .container .right .wuliu{width: 525px;height: 236px;float: left;margin-top: 40px;}
.content .container .right .wuliu p{margin-left: 20px; line-height: 16px;font-family: "微软雅黑";font-size: 14px;}
.content .container .right .wuliu p:nth-child(1){color: #83d4e9;}
.content .container .right .xinxi{margin-top: 98px; width: 398px;height: 148px;float: left;}
.content .container .right .xinxi .left{width: 246px;height: 148px;}
.content .container .right .xinxi .left p{margin-left: 38px;line-height: 18px;font-family: "微软雅黑";font-size: 14px;}
.content .container .right .xinxi .right{width: 152px;height: 148px;float:left ;line-height: 18px;font-family: "微软雅黑";font-size: 14px;}
.content .container .right .fukaung{float: left;width: 540px;height: 290px;margin-top: 98px;}
.content .container .right .fukaung .left3{width: 273px;height: 289px;float: left;}
.content .container .right .fukaung .left3 p{margin-left: 100px;line-height: 14px;font-family: "微软雅黑";font-size: 14px;}
.content .container .right .fukaung .right3{width: 267px;height: 298px;float: left;}
.content .container .right .fukaung .right3 p{line-height: 14px;font-family: "微软雅黑";font-size: 14px;}
.content .container .right .fukaung .right3 p img{margin: 20px 0px 15px 40px;}
.content .container .right .kuang{width: 948px;height: 152px;float: left;border: 2px dotted #00FFFF;margin-top: 50px;}
.content .container .right .kuang .xiangqing{width: 944px;height: 30px;margin-top: -10px;}
.content .container .right .kuang .xiangqing ul{list-style: none;}
.content .container .right .kuang .xiangqing ul li{float: left;padding-left: 112px;padding-right: 8px font-family: "微软雅黑";font-size: 14px;line-height: 30px;}
.content .container .right .kuang .xiangqing ul li:nth-child(1){padding-right: 108px;}
.content .container .right .kuang .juti{width: 944px;height: 118px;}
.content .container .right .kuang .juti ul{list-style: none;margin-top: -10px;}
.content .container .right .kuang .juti ul li{float: left;width: 185px;height: 118px;}
.content .container .right .kuang .juti ul li:nth-child(1){width: 300px;}
.content .container .right .kuang .juti ul li:nth-child(4){width: 50px;}
.content .container .right .kuang .juti ul li:nth-child(1) .jies a img{float: left;padding-left: 20px;display: block;margin-top: 20px;}
.content .container .right .kuang .juti ul li:nth-child(1) .jies p{display: block;float: left;margin-top: 50px;margin-left: 20px;}
.content .container .right .kuang .juti ul li:nth-child(1) .jies p a{color: #000000;font-size: 14px;font-family: "微软雅黑";text-decoration: none;}
.content .container .right .kuang .juti ul li:nth-child(1) .jies p a:hover{color: red;}
.content .container .right .kuang .juti ul li span{color:black ;font-family: "微软雅黑";font-size: 14px;padding-left:50px;display: block;margin-top: 50px;}
.content .container .right .kuang .juti ul li:nth-child(2) span{color:red;}
.content .container .right .kuang .juti ul li:nth-child(3) span {padding-left: 25px;}
.content .container .right .kuang .juti ul li:nth-child(4) span {padding-left: 15px;}
.content .container .right .kuang .juti ul li span a{padding: 5px 10px;background: #00FFFF;color: #FFFFFF;text-decoration: none;margin-left: 20px;}
.content .container .right .xiamian{width: 150px;height: 150px;float: right;margin-top: 40px;}
.content .container .right .xiamian p{color: black;font-family: "微软雅黑";font-size: 14px;}
.content .container .right .xiamian p i{float: right;}
.content .container .right .xiamian p span{color: red;float: right;margin-right: 20px;}
