.content{width: 1200px;height: 100%;margin: 0 auto;}
.content .container{width: 1200px;padding: 0px;height: 100%;}
.content .container .c_top{width: 1200px;height:100%;overflow: hidden;}
.content .container .c_top .left{width: 485px;height:100%;overflow: hidden;float: left;margin-bottom: 30px;}
.content .container .c_top .left h1{font-family: "微软雅黑";font-size: 18px;color: #b8b8b8;margin-top: 25px;margin-left: 17px;}
.content .container .c_top .left h1 span{color: #000000;}
.content .container .c_top .left h1 span a{color: #000000;text-decoration: none;}
.content .container .c_top .left h1 span a:hover{color: red;}
/*first*/
.change_box{position: relative;}
.change_box_top img{margin-left: 10px; width: 466px;height: 600px;}
.change_box_bottom {margin-top: 15px;overflow: hidden;width: 415px;height:100px;margin: 0 auto;}
.change_box_bottom dl{display:inline-block;overflow: hidden;margin-top: 15px;}
.change_box_bottom dl dd{float: left;line-height: 100px;padding: 0 8px;cursor: pointer;}
.prev,.next{width: 20px;height: 30px;display: inline-block;position: absolute;cursor: pointer;}
.prev{background: url(../img/p_r1.png) no-repeat;left: 10px;bottom: 26px;}
.next{background: url(../img/p_r7.png) no-repeat;right: 10px;bottom: 26px;}
/*end*/
.content .container .c_top .right{width: 630px;height: 100%;overflow: hidden; float: left;margin-left: 85px;}
.content .container .c_top .right h2{font-family: "微软雅黑";font-size: 18px;color: #000000;margin-top: 103px;line-height: 34px;}
.content .container .c_top .right p{font-family: "微软雅黑";font-size: 16px;margin-bottom: 20px;}
.content .container .c_top .right p span{color: red;font-family: "微软雅黑";margin-left: 20px;}
.content .container .c_top .right p i{margin-left: 20px;font-style: normal;}
.content .container .c_top .right p img{margin-left: 20px;}
.content .container .c_top .right p:nth-child(5) span{color: blue;margin-left: 0px;}
.content .container .c_top .right ul{list-style: none;display: inline-block;}
.content .container .c_top .right ul li{float: left;margin-right: 10px;font-family: "微软雅黑";font-size: 14px;padding: 1px; cursor: pointer;}
.content .container .c_top .right ul li.on{border: 1px solid red;padding: 0px;}
.content .container .c_top .right ul li:hover{border: 1px solid red;padding: 0px;}
.content .container .c_top .right ul li:nth-child(1){margin-right: 20px;padding: 0px;}
.content .container .c_top .right ul li:nth-child(1):hover{border: none;padding: 0px;}
.content .container .c_top .right dl{margin-top: 20px;overflow: hidden;}
.content .container .c_top .right dl dd{cursor: pointer; float: left;font-family: "微软雅黑";font-size: 14px;margin-right: 20px;padding: 5px 10px;border: 1px solid #737373;}
.content .container .c_top .right dl dd:hover{border:  1px solid #00FFFF;}
.content .container .c_top .right dl .on{border:  1px solid #00FFFF;}
.content .container .c_top .right dl dd:nth-child(1){border: none;padding: 0px;cursor: none;}
.shuliang{float: left;margin-top:30px;width: 100%;margin-bottom: 10px;}
.shuliang p{float: left;width: 75px;}
.shuliang input{margin-right: 30px; display: block;float: left;height: 28px;width: 40px;text-align: center;outline: none;border: 1px solid #000000 }
.shuliang button{ float: left;margin: -2px;background: inherit;border: 1px solid #000000;outline: none;height: 15px;}
.shuliang button img{margin-top: -7px;}
.shuliang i{float: left;margin-top: -10px;font-style: normal;margin-left: 50px;font-family: "微软雅黑";font-size: 14px;}
.goumai{float: left;margin-top: 30px;}
.goumai button{font-family: "微软雅黑";font-size: 18px; margin-left: 20px; width: 210px;height: 50px;background: #61cae5;border: none;}
.goumai button a{font-family: "微软雅黑";font-size: 18px;color: #FFFFFF;text-decoration: none;}
.goumai button img{padding-right: 30px;}
.goumai button:hover{background: red;color: black;}


.content .container .guanlian{width: 1200px;height: 100%;overflow: hidden;}
.content .container .guanlian h1{margin: 0px;border-bottom: 2px solid #bae8f4;margin-top: 20px;line-height:60px;margin-bottom: 20px;}
.content .container .guanlian h1 a{padding: 20px 23px;background: #61cae5;font-family: "宋体";font-size: 24px;text-decoration: none;}
.guanlian .ximian ul {list-style: none;}
.guanlian .ximian ul li{margin-bottom: 20px; float: left;  width: 213px;height: 100%;overflow: hidden;float: left;margin-right: 33px;text-align: center;}
.guanlian .ximian ul li .goods{width: 213px;height: 213px;position: relative;text-align: center;margin-bottom: 10px;}
.guanlian .ximian ul li:nth-child(5){float: right;margin-right: 0px;}
.guanlian .ximian ul li .goods p{position: absolute;bottom: 0px;margin: 0px;padding: 5px 8.5px;background: #858584;opacity: 0.75;}
.guanlian .ximian ul li .goods p a{text-decoration: none;font-family: "微软雅黑";font-size: 14px;color: #000000;display: none}
.guanlian .ximian ul li .goods:hover p a{display: block;}
.guanlian .ximian ul li i{color: red;font-style: normal;font-family: "宋体";font-size: 18px;}
/*center*/
.center{width: 1200px;height: 100%;overflow: hidden;}
/*center left*/
.content .container .center .left{width: 286px;height: 100%; overflow:hidden;float: left;margin-top: 50px;margin-right: 13px;}
.content .container .center .left .dian{margin-bottom: 35px; width:286px;height: 200px;float: left;border: 1px solid #d0d0d0;}
.content .container .center .left .dian p{padding-left: 12px; height: 31px;line-height: 31px;margin-bottom: 0px; font-family: "微软雅黑";border-bottom: 1px solid #d0d0d0;font-size: 19px;color: #000000;}
.content .container .center .left .dian a{margin: 13px 0 0 13px; display: inline-block;float: left;font-family: "微软雅黑";font-size: 16px;color: #000000;text-decoration: none; margin-bottom: 20px;}
.content .container .center .left .dian a input{margin-left: 3px; width:200px;border: 1px solid #737373;background: inherit;padding: 0px 5px;outline: none;height: 37px;}
.content .container .center .left .dian span{margin-top: 15px; margin-left: 13px; font-size: 16px; color: black; font-family: "微软雅黑";display: inline-block;}
.content .container .center .left .dian span input:nth-child(1){margin-left: 20px;}
.content .container .center .left .dian span input:nth-child(2){margin-left: 20px;}
.content .container .center .left .dian span input{width: 60px;margin-right: 5px;font-size: 20px;line-height: 14px;height: 29px;border: 1px solid #737373;margin-right: 20px;outline: none;padding: 0px 5px;}
.content .container .center .left .dian span img{margin-left: 53px; background: black;margin-top: 2px;display: block;cursor: pointer;width: 32px;height: 32px;text-align: center;}

.content .container .center .left .lie{width: 286px;height: 100%;overflow: hidden;float: left;border: 2px solid #d0d0d0;}
.content .container .center .left .lie ul{margin-top: 0px;}
.content .container .center .left .lie ul li{margin-top: 40px;}
.content .container .center .left .lie ul li:last-child{margin-bottom:340px;}
.content .container .center .left .lie ul li .jingxuan{height: 100%; overflow:hidden; width: 286px;padding-left: 60px;}
.content .container .center .left .lie ul li .jingxuan h1{margin-bottom: 15px; color: #000000; margin-top: 0px;font-family: "微软雅黑";font-size: 18px;}
.content .container .center .left .lie ul li .jingxuan a img{float: left;padding-right: 60px;}
.content .container .center .left .lie ul li .jingxuan i{font-style: normal;color: red; font-family: "微软雅黑";font-size: 18px;padding-top: 10px;float: left;width: 100%;}
.content .container .center .left .lie ul li .jingxuan p a{font-family: "微软雅黑";font-size: 14px;}
.content .container .center .left .lie ul li .jingxuan p a:hover{color: red;}
.content .container .center .left .lie ul li .jingxuan a{font-family: "微软雅黑";font-size: 18px;margin-bottom:50px ;color:#000000;text-decoration: none;}
.content .container .center .left .lie ul li .jingxuan a span{color: #1345c5;}

/*center right*/
.center .right{margin-top: 50px; width: 891px;float: left;height: 100%;overflow: hidden; }
.center .right{width: 891px;height: 100%;overflow: hidden;}
.center .right .g_introduce{border: 1px solid #d0d0d0; }
.center .right .g_introduce a{text-decoration: none;font-family: "微软雅黑";font-size: 16px;padding: 0px 15px;line-height: 30px;}
.center .right .g_introduce a img{padding-left: 25px;}
.center .right .g_introduce .on{color: red;}
.center .right .g_introduce a:hover{color: red;}
.center .right .g_introduce .xiang{width:891px;height: 100%;overflow: hidden;border-top:1px solid #D0D0D0 ;}
.center .right .g_introduce .xiang .left{float: left; width: 210px;border: none;text-align: center;height: 170px;margin-top:0px;margin-right: 0px;}
.center .right .g_introduce .xiang .left p{padding-left:15px ; color: red;font-family: "微软雅黑";font-size: 48px;margin-bottom: 0px; padding-top: 30px;}
.center .right .g_introduce .xiang .left p:nth-child(2){font-size: 18px;color: #333333;padding-top: 0px;}
.center .right .g_introduce .xiang .right{float: left;width: 680px;}
.center .right .g_introduce .xiang .right>p{padding-left: 40px;font-family: "微软雅黑";color: #000000;font-size: 14px;}
.pinglun{width: 891px;height: 100%; overflow:hidden;float: left;margin-top: 34px;}
.pinglun dl dd{font-family:"微软雅黑" ;font-size: 18px;float: left;margin-left: 35px;}
.pinglun dl dd span{color: red;}
.pinglun ol{list-style: none;margin-top: 50px;}
.pinglun ol li{ margin-bottom: 20px;width: 891px;height: 100%;overflow: hidden;}
.pinglun ol li .xing{width: 180px;height: 200px;text-align: center;float: left;}									
.pinglun ol li .xing p img{margin-top:20px}
.pinglun ol li .xing p{font-family: "微软雅黑";font-size: 14px;color: black;}
.pinglun ol li .zi{ float: left;width: 492px;height: 200px;}
.pinglun ol li .zi p:nth-child(1){margin-top: 60px;}
.pinglun ol li .zi p{margin-left: 30px;font-family: "微软雅黑";font-size: 14px;color: black;}
.pinglun ol li .yuan{width: 200px;height: 200px;float: left;text-align: center;}
.pinglun ol li .yuan img{margin-top: 60px;margin-bottom: 10px;}
.pinglun ul li .yuan p{font-family: "微软雅黑";font-size: 14px;color: black;}


 .s_number{float: left; width:891px; height: 50px;text-align: center; margin-bottom: 50px;}
 .s_number ul{list-style: none;text-align: center;}
 .s_number ul li{display: inline-block;margin-top: 20px;}
 .s_number ul li a{text-align: center;display: block;
padding: 0px 32px;font-family: "微软雅黑";font-family: 18px;text-decoration: none;color: #000000;}
.s_number ul li a:hover{background: #00FFFF;}
.s_number ul li:nth-child(1) a{background: #00FFFF;}
 .s_number ul li:last-child a{background: #ccffff;}
 




ul{list-style: none;}
.right .box{width: 891px;float: left;height:100%;overflow: hidden; }
.right .box-top{width: 891px;padding: 0px 15px;border: 1px solid #c9c9c9;height: 35px;}
.right .box-top ul {list-style: none;}
.right .box-top ul li{float: left;list-style: none;line-height: 31px;padding:0px 15px;}
.right .box-top ul li a{text-decoration: none;font-family: "微软雅黑";font-size: 16px;}
.right .box-top ul li.on a{color: red;}
.right .box-top ul li a img{padding-left: 25px;}
.center .right .xiang{width:891px;height: 100%;overflow: hidden;border:1px solid #D0D0D0 ;border-top: none;}
.center .right .xiang .left{float: left; width: 210px;border: none;text-align: center;height: 170px;margin-top:0px;margin-right: 0px;}
.center .right .xiang .left p{padding-left:15px ; color: red;font-family: "微软雅黑";font-size: 48px;margin-bottom: 0px; padding-top: 30px;}
.center .right .xiang .left p:nth-child(2){font-size: 18px;color: #333333;padding-top: 0px;}
.center .right .xiang .right{float: left;width: 678px;}
.center .right .xiang .right>p{padding-left: 67px;font-family: "微软雅黑";color: #000000;font-size: 14px;}

/*爆款专区*/
.center .right .baokuang{width: 988px;height: 100%;overflow: hidden;}

.content .container .baokuang h1{margin: 0px;border-bottom: 2px solid #bae8f4;line-height:60px;margin-bottom: 20px;}
.content .container .baokuang h1 a{padding: 20px 23px;background: #00FFFF;font-family: "宋体";font-size: 24px;text-decoration: none;}
.baokuang ol {list-style: none;}
.baokuang ol li{float: left;  width:20%;height: 100%;overflow: hidden;float: left;margin-right: 33px;text-align: center;}
.baokuang ol li .goods{width: 213px;height: 213px;position: relative;text-align: center;margin-bottom: 10px;}
.baokuang ol li:nth-child(4){margin-right: 0px;}
.baokuang ol li .goods p{position: absolute;bottom: 0px;margin: 0px;padding: 5px 15.5px;background: #858584;opacity: 0.75;}
.baokuang ol li .goods p a{text-decoration: none;font-family: "微软雅黑";font-size: 12px;color: #000000;display: none;}
.baokuang ol li .goods:hover p a{display: block;}
.baokuang ol li i{color: red;font-style: normal;font-family: "微软雅黑";font-size: 16px;}
.p_center{width: 891px;height: 100%;overflow: hidden;margin-top: 30px;}
.p_center p{float: left; color: black; padding-left: 10px; width: 891px;background: #8de0f5;height: 32px;line-height: 32px;font-family: "微软雅黑";font-size: 16px;margin-bottom: 20px;margin-top: 10px;}
.p_center p img{padding-right: 20px;}
.p_center a img{margin-top: 40px;bottom:50px;width: 100%;}

.p_center ol {list-style: none;margin-top:40px;margin-left: 4%;}
.p_center ol li{width: 32%;float: left;margin-right: 1%;text-align: center;}
.p_center ol li img{ display:block;overflow: hidden;margin-bottom: 10px;max-width: 90%;padding-bottom: 20px;}
.p_center ol li i{ cursor: pointer; font-style: normal;border:1px solid #D0D0D0;padding: 2px 48px;display: inline-block;overflow: hidden;font-family: "微软雅黑";font-size: 18px;}








.center .right .pi{width: 891px;height: 100%;overflow: hidden;border:1px solid #D0D0D0 ;border-top: none;}
.center .right .pi i{font-family: "微软雅黑";font-size: 14px;color: #000000;margin-left:20px;font-style: normal;}
.center .right .pi i span{color: #3f69c8;}
.center .right .pi ol{list-style: none;margin-left:  30px;margin-right: 30px;margin-top: 30px;overflow: hidden}
.center .right .pi ol li{margin-right: 65px;float: left;}
.center .right .pi ol li p{margin-top: 0px;font-family: "微软雅黑";font-size: 14px;color: #000000}
.center .right .pi dl{margin-top: -10px; margin-left: 30px;margin-right: 30px;float: left;font-family: "微软雅黑";font-size: 14px;color: #000000;}
.center .right .pi dl dd{float: left;margin-right: 67px;}
.center .right .pi dl dd:nth-child(5){float: right;margin-right: 0px;}

.center .right .shou{border: 1px solid #D0D0D0;width: 891px;height: 100%;overflow: hidden;border-top: none;}
