*{margin: 0px;padding: 0px;}
a{color: #0F0F0F;text-decoration: none;}
/*z-index: 100; width: 100%;这里层级关系，z-index: 100; 表示高于一层*/
/*.navbar{position: absolute;z-index: 100; width: 100%;}*/
.container{padding: 0;}
body{background:url(../img/background2.jpg);}
.header{height:100%;overflow:hidden;width: 100%;}

.car ul{list-style: none;float: right;margin-right:25px;}
.car ul .on a{color: red;}
.car ul li{float: left;margin-top: 10px;font-family: "微软雅黑";font-size: 16px;color: #FFFFFF;}
.car ul li a{color: #FFFFFF;font-family: "微软雅黑";font-size: 16px;text-decoration: none;}

.car ul li:nth-child(4){margin-left: 30px;margin-right: 10px;}
.navbar-header{margin-top: 2%;}
.nav{margin-top: 2%;}
.nav ul{ padding-left:1%;padding-right:1.5%;padding-top: 15px;}
.nav li a{ border-left:1px solid rgba(0,0,0,0);border-right:1px solid rgba(0,0,0,0); color: #FFFFFF;font-family: "微软雅黑";font-size: 18px; padding: 0px;margin:18px 22px;line-height: 18px; cursor: pointer;padding: 0px 3px;}
.nav .on a{color: red;border-left: 1px solid red;border-right: 1px solid red;padding: 0px 3px;}


@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");}
.icon{width: 15%;height: 24px;border: 1px solid #FFFFFF;float: right;margin-top: 35px;}
.icon input{float: left;width: 80%;border: none;padding: 0 5px;outline: none;background:inherit;color: #FFFFFF}
.icon button{float:left;width: 20%;border: none;padding: 0 5px;background:inherit;outline:none;}
.banner .dot{width: 21px;height: 21px;margin-bottom: 10%;}

/*中心内容*/
/*.content .container .center{margin-top: 5%; height: 100%;overflow: hidden;}
.content .container .center h1 {font-family: "微软雅黑";font-size: 30px;color: #FFFFFF;border-bottom: 1px solid #FFFFFF;}
.content .container .center span{display: block; font-family: "微软雅黑";font-size: 12px;line-height: 12px;margin-top:0.5% ;}
.content .container .center h1 img{display: block;margin-left: 1.5%;}*/
/*底部内容*/
.footer{margin-top: 10%;}
.footer p{font-family: "微软雅黑";font-size: 12px;color: #FFFFFF;text-align: center;margin-top: -20px;}

@media only screen and (min-width: 100px) and (max-width: 767px) {
  /*这是一块的转化为顶部的 导航的代码first*/
  .nav .on a{color: red;border-left: 1px solid transparent;border-right: 1px solid transparent;}
   .nav li a{color: #FFFFFF;font-size: 22px; padding: 0px;/*margin:18px 22px;*/line-height: 18px; cursor: pointer;text-align: center;}
   .nav li a{margin-top: 61px;}
   .nav ul{ padding-left:0%;padding-right:0%;padding-top: 15px;width: 100%;overflow: hidden;}
   .navbar-nav > li { margin-top: -40px;margin-right: 0px; }
   .icon{width: 80%;margin-right: 10%;height: 36px;}
   .icon button{height: 34px;width:10%}
   .icon input{height: 34px;font-size: 22px;padding:0px;width: 88%;padding: 0px 5px;}
   /*end*/
  }

@media only screen and (min-width: 768px) {
.car ul li a:hover{color: red;}	
.nav li a:hover{color: red;border-left: 1px solid red;border-right: 1px solid red;}	
}
@media only screen and (min-width: 100px) and (max-width: 420px) {
   .footer p{font-size: 10px;margin-left: 8%;margin-right: 8%;}	
}
