.left .meau{margin-left:0%;background: #68100d;height:100% ;overflow: hidden;padding: 0px;}
.left .meau h1{margin-top: 20px;text-align: center;}
.left .meau h1 a{font-family: "微软雅黑";font-size:24px;color: #FFFFFF;text-decoration: none;cursor: pointer;/*padding-left: 30px;*/}



/*letter-spacing:10px;字体的间距*/
.left .stop{margin-left:0%;height:100% ;overflow: hidden;}
.left .stop h2{padding-top: 3px;text-align: center;}
.left .stop h2 a{line-height: 54px; text-decoration: none;cursor:pointer; font-family: "微软雅黑";font-size:24px;color: #FFFFFF;letter-spacing:37px;}


.left .stop h2{background:#830d09;}
.left .stopA,.left .stop{padding: 0;background: #68100d;}
.left .stopA ul{list-style: none;}
.left .stopA ul li{padding-left:20px;font-family: "微软雅黑";font-size: 14px;margin-top:4px;line-height: 40px;}
.left .stopA ul li a{color: #FFFFFF;text-decoration: none;display: block;padding-left: 30px;}
.left .stopA img{float: right;line-height: 40px;margin-top:16px;padding-right: 56px;}
.left .stopA ul .on{background: #f51b13;}
/*.left .stopA ul li:hover{background: #f51b13;}*/
.left .stopA,.left .stop{padding: 0;}


/*top.first*/
.right .top{height: 100%;overflow: hidden;width: 100%;border: 1px solid red;padding: 0px;}
.right .top .pc{height: 100%;margin-left: -15px;border-right:1px solid red;}
.right .top .pc img{margin: 3px 0px;display: block;float: left;margin-right: 10px;padding: 1.5%;}
.right .top .pc h1{margin-top: 20px;font-family: "微软雅黑";font-size: 24px;color: #FFFFFF; font-weight:normal;}
.right .top .pc p{font-family: "微软雅黑";font-size: 18px;color: #FFFFFF;margin-top: 10%;}
.right .top .pc p span{font-size: 24px;}
.right .top .pc p span{color: red;margin-right: 5px;}
.right .top .name h1{color: #FFFFFF;font-size: 24px;font-family: "微软雅黑"; font-weight:normal;margin-top: 2px;}
.right .top .name ul{margin-left: 1%;}
.right .top .name ul li{float: left;list-style: none;margin-right: 12%;font-family: "微软雅黑";font-size: 14px;color: #FFFFFF;}
/*这是top,end*/
.right .center{margin-top:5%;padding-bottom:5%;border: 1px solid red;height: 100%;overflow: hidden;}
.right .center .name h1{border-left:10px solid red ;font-family: "微软雅黑";font-size: 24px;color: #FFFFFF;height: 100%;overflow: hidden;}
.right .center .name ul{margin-top:20px;}	
.right .center .name li{font-family:"微软雅黑";font-size:18px;color:#FFFFFF;cursor:pointer;float:left;width:25%;list-style:none;text-align: center;}
.right .center .name a{display:block;margin:14px auto 10px;color:#FFFFFF;}
.right .center .name li a{ color:#FFFFFF; display:block;text-decoration: none;font-size: 18px;}
.right .center .name li a img{max-width: 100%;padding-right: 10%;}
.right .center .text{margin-top: 5%;border: 1px solid #9c9c9c;margin-left: -12px;width:100%}
.right .center .text h2{margin-left:-5px;border-left:10px solid red ;font-family: "微软雅黑";font-size: 24px;color: #FFFFFF;}
.right .center .text h2 span{font-family: "微软雅黑";font-size: 14px;color: #FFFFFF;margin-left:4%;}
.right .center .text p{float: left;padding-left: 20%;margin-top: 5%;padding-bottom: 5%;}
.right .center .text p img{margin-right: 20px;}
.right .center .dibu{margin-left: -16px;}
.right .center .dibu h3{ font-family: "微软雅黑";font-size: 24px;color: #FFFFFF;border-left:10px solid red ;margin-bottom: 4%;}
.right .center .dibu h3 span{font-family: "微软雅黑";font-size: 14px;color: #FFFFFF;margin-left: 4%;}
.right .center .dibu h3 span span{color: red;}
.right .center .dibu .foot{ background: #830d09;padding:10px 0px;}
.right .center .dibu .foot ul{list-style: none;margin-top: 2%height:20px;width: 100%;background: red;}
.right .center .dibu .foot ul li{float: left;margin-right:2%;font-family: "微软雅黑";font-size: 18px;color: #FFFFFF;margin-left: 2%;padding:0% 4%;}
.right .center .dibu .foot:nth-child(3){background: #68100d;}
.right .center .dibu .foot:nth-child(3) ul li{float: left;margin-right:1%;font-family: "微软雅黑";font-size: 14px;color: #FFFFFF;margin-left: -0.1%;}


/*这是图标最小的1200px的代码*/
@media only screen and (min-width:1200px){
	.left .meau img{padding-left: 10%;}
	.left .stop h2 a img{padding-right: 5%;}
	.left .stopA img{padding-right: 19%;}
}

@media (min-width:992px) and (max-width:1200px){
	.navbar-nav > li{margin-right: -16px;}
	.left .meau h1 a{font-size: 20px;}
	.left .stopA, .left .stop{overflow: hidden;}
	.left .meau img{padding-left: 10px;}
	.left .stopA img{padding-right: 20%;}
	
	.right .center .text{overflow: hidden;}
	.grow .vip{margin-right:10%}
	.right .center .dibu .foot ul li{font-size: 17px;margin-left: 1%;}
	.right .center .dibu .foot:nth-child(3) ul li{margin-left: 1.5%;margin-left: 0.7%;}	
	}
	@media (min-width:768px) and (max-width:992px){
.right .center .dibu .foot ul li{font-size: 15px;margin-right: 0%;margin-left: 1%;}
.right .center .dibu .foot:nth-child(3) ul li{margin-right:-1.5%;}
.right .center .text p {padding-left: 9%;}
}

/*这里是那个左边的代码*/

/*这是左边的代码响应的代码*/
@media (min-width:768px) and (max-width:992px){
	.left .stopA img{padding-right: 15%;}
	.left .meau h1 a{font-size: 22px;}
	.left .meau h1 a img{display: none;}
	.left .stopA, .left .stop{overflow: hidden;}
	.left .stop h2 a{text-align: center;font-size: 20px;margin-left: 20%;}
	.left .stop h2 a img{display: none;}
	.left .stopA, .left .stop{overflow: hidden;}
	.left .meau h1{text-align: center;}
	.left .stopA ul li a{padding-left:0px ;}
	
    .right .center .text{overflow: hidden;}
    .right .top .pc{border-right:none}
}

@media (min-width:320px) and (max-width:768px){
	.col-sm-3, .col-md-3, .col-lg-3{padding: 0px 5px;}
	.col-sm-9, .col-md-9, .col-lg-9{padding:0px 5px;}
	.left .stop h2 img{padding-right:5%;}
	.left .stopA, .left .stop{overflow: hidden;}
	.left .meau h1{text-align: center;}
	.left .meau img{padding-left: 11%;}
	.left .stopA img{padding-right: 26%;}
	
	
	.right .center .text{overflow: hidden;}
	.right .top .pc{border-right:hidden;}
	.grow .vip{margin-right:9%}
	.right .center .text{width: 100%; margin-left: 0px;}
	.right .center .name li a{font-size: 14px;}
	.right .center .text p{padding-left:0%}
	.right .center .name h1{font-size: 22px;}
	.right .center .text h2{font-size: 22px;}
	
	.center{padding: 0px 5px;}
	.right .center .dibu{margin-left: 0px;}
	.dibu{padding: 0px;}
}


@media (min-width:320px) and (max-width:375px){
	.right .center .dibu .foot ul li:nth-child(1){display: none;}
	.right .center .dibu .foot ul li{font-size: 14px;margin-right: 0%;}
	.right .center .dibu .foot:nth-child(3) ul li{margin-right: 0%;margin-left: -1%;font-size: 12px;}
}
@media (min-width:375px) and (max-width:767px){
	.right .center .dibu .foot ul li:nth-child(1){display: none;}
	.right .center .dibu .foot ul li{margin-right: 2%; font-size: 14px;}
	.right .center .dibu .foot:nth-child(3) ul li{font-size: 12px;margin-left: 1%;}
}








@media (min-width:1081px) and (max-width:1200px){
	.navbar-nav > li{margin-top: 0px;margin-right: -18px;}
	.form-group{margin-top: 32px;margin-right: 0px;}
}
@media (max-width:1080px) and (min-width:994px){
	.form-group{margin-top: 32px;}
	.navbar-nav > li{margin-right: -20px;margin-top: 0px;}
}
@media (max-width:993px) and (min-width:768px){
		.form-group{margin-top:33px; width: 130px;}
		.navbar-nav > li{margin-top: 7px;margin-right: -5px;margin-left: -15px;}
		.navbar-header{margin-top: 5px;}
		
		.login .kuan{margin-right: 10%;margin-left: 10%;}
		.checkbox{margin-right: 10%;}
}


/*这是超出隐藏的*/
@media only screen and (min-width: 768px) {
	.left .stopA ul li:hover{background: #f51b13;}
}








/*加代码*/
.grow{
	padding: 0px;
	font-family: "微软雅黑";
	margin-top: 27px;
	font-size: 14px;

}
.grow p:first-child{
	width: 100%;
	text-align: initial;
	color: #FFFFFF;	
}
.grow p{
	padding-left: 10px;
	color: #FFFFFF;
	width: 5%;
	text-align: center;
	display: inline-block;
	margin-right:11%;
	font-size: 14px;
}
.grow .progress{
	border-radius: 8px;
	 height: 8px;
}
.pr img{padding-left: 10px;max-width: 100%;padding-right: 10px;}
