.pay_success .head-top{height:0.9rem;width: 100%;background: #707070;display: flex;align-items: center;}
.pay_success .item-icon-left{margin-left:0rem;padding-left: 0.5rem;}
/*这是一个图标的样式代码*/
.pay_success .ion-ios-undo-outline{color: #fff}
.pay_success .item-icon-left .icon:before, .item-icon-right .icon:before{font-size: 0.7rem;margin-left: -0.2rem;}
.pay_success .header_center{width: 5.7rem;font-size: 0.26rem;color: #e4dfde;text-align: center;font-family: "微软雅黑";}

