.has-footer {bottom: 65px;}
.bar-footer{padding: 0;height: 60px;}
.bar-footer .tab-nav.tabs{background: #535353;color: #fff;height: 60px;padding-top: 5px;top:2px}
.tab-item{opacity: 1;}
.tab-item-active{color: #f2583a;}

